<extends src="../base.html" />
<block name="content">

    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span style="line-height: 36px;">应用信息</span>
        </div>
        <div class="text item">
            <p><strong>应用Id：</strong> {{appId}}</p>
            <p><strong>应用名字：</strong> {{app.name}}</p>
            <p><strong>应用描述：</strong> {{app.desc}}</p>
            <p><strong>应用环境：</strong> {{app.image}}</p>
            <p><strong>应用镜像：</strong> <template v-if="app.nowImageName != ''">{{app.nowImageName}}</template>
                <template v-else>无</template></p>
            <p><strong>代码地址：</strong> {{app.git}}</p>
            <p><strong>应用域名：</strong> {{app.domain}}</p>
        </div>
    </el-card>
    <br>

    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span style="line-height: 36px;">容器信息</span>
            <el-button style="float: right;" type="primary" @click="optioneContauiner();">更新</el-button>
        </div>
        <div class="text item">
            <el-form ref="form" :model="container" label-width="80px">
                <el-form-item label="容器数量">
                    <el-input-number v-model="container.nums" :min="1" :max="10"></el-input-number>
                </el-form-item>
                <el-form-item label="容器CPU">
                    <el-radio-group v-model="container.cpu">
                        <el-radio-button label="1核"></el-radio-button>
                        <el-radio-button label="2核"></el-radio-button>
                        <el-radio-button label="3核"></el-radio-button>
                        <el-radio-button label="4核"></el-radio-button>
                        <el-radio-button label="5核"></el-radio-button>
                    </el-radio-group>
                </el-form-item>

                <el-form-item label="容器内存">
                    <el-radio-group v-model="container.memory">
                        <el-radio-button label="64M"></el-radio-button>
                        <el-radio-button label="128M"></el-radio-button>
                        <el-radio-button label="256M"></el-radio-button>
                        <el-radio-button label="512M"></el-radio-button>
                        <el-radio-button label="1024M"></el-radio-button>
                    </el-radio-group>
                </el-form-item>

            </el-form>
        </div>
    </el-card>
    <br>
    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span style="line-height: 36px;">镜像信息</span>
        </div>
        <div class="text item">

            <div class="text item">
                <el-form ref="form" :model="container" label-width="80px">
                    <el-form-item label="当前镜像">
                        {{app.nowImageAbout}}，打包于{{app.nowImageCreateTime}}
                    </el-form-item>
                    <el-form-item label="最近镜像">
                        <el-select v-model="image" placeholder="请选择镜像" @change="selectImage">
                            <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                        <el-button type="info" @click="useImage">应用镜像</el-button>
                        <br>
                        <template v-if="imageMessage != ''">{{imageMessage}}</template>
                    </el-form-item>
                    <el-form-item label="打包镜像">
                        <template>
                            <template v-if="app.nowImageStatus == 0">未打包</template>
                            <template v-else-if="app.nowImageStatus == 1">打包成功</template>
                            <template v-else-if="app.nowImageStatus == 2">打包中</template>
                            <template v-else-if="app.nowImageStatus == 3">打包失败</template>
                        </template>
                        <template>
                        <el-button type="success" @click="buildImage();" v-if="app.nowImageStatus == 0">代码打包</el-button>
                        <el-button type="success" @click="buildImage();" v-else-if="app.nowImageStatus == 1">代码打包</el-button>
                        <el-button type="success" @click="buildImage();" v-else-if="app.nowImageStatus == 3">代码打包</el-button>
                        </template>

                    </el-form-item>
                </el-form>
            </div>


        </div>
    </el-card>
    <br>

    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span style="line-height: 36px;">应用日志</span>
        </div>
        <div class="text item log">
            <el-alert v-for="log in logs"
                    :title="'【' + log.time + '】   ' + log.content"
                    :type="log.type"
                    :closable="false" style="margin-top:5px;">
            </el-alert>
        </div>
    </el-card>

</block>