<extends src="../base.html" />
<block name="content">

    <p>
        <el-button type="success" @click="app.goto('/admin/web/new-app');">添加应用</el-button>
    </p>

    <el-card class="box-card app_info" v-for="app in apps">
        <div class="text item">
            <p><strong>应用Id：</strong> {{app.appId}}</p>
            <p><strong>应用名字：</strong> {{app.name}}</p>
            <p><strong>应用描述：</strong> {{app.desc}}</p>
            <p><strong>应用环境：</strong> {{app.image}}</p>
            <p><strong>容器个数：</strong> {{app.nums}}</p>
            <p><strong>应用镜像：</strong>

                <template v-if="app.nowImageName != ''">{{app.nowImageName}}</template>
                <template v-else>无</template>
            </p>
            <p><strong>代码地址：</strong> {{app.git}}</p>
            <p><strong>应用域名：</strong> {{app.domain}}</p>
            <p><strong>CPU：</strong> {{app.cpu}}核</p>
            <p><strong>内存：</strong> {{app.memory}}M</p>
            <p>
                <el-button type="info" @click="optionApp(app.appId);">操作应用</el-button>
                &nbsp;
                <el-button type="danger" @click="deleteApp(app.appId);">删除应用</el-button>
            </p>
        </div>
    </el-card>

    <div class="block">
        <el-pagination
                layout="prev, pager, next"
                :total="totalPage" :page-size="5" :current-page="currentPage" @current-change="currentChange">
        </el-pagination>
    </div>

</block>